body {
    background-color:#A4D3EE;
}

div {
    width:500px;
    margin:0px auto;
    text-align:center;
}

h1 {
    text-align:center;
}

#main {
    background-image:url("img/logoImg.png");
    border:1px solid black;
    background-color:#E0EEE0;
    padding:5px;
    padding-top:10px;
}

input {
    display:block;
    margin:20px auto;
}

#messageArea {
    width:100%;
}

p {
    margin:0px;
}

#numberOfMessages p {
    padding:10px;
    text-align:right;
}

#messageArea .message {
    background-color:#CDC673;
    margin-top:5px;
    width:90%;
    padding:15px;
    padding-top:20px;
    text-align:left;
    border:1px solid;
    word-break:break-all;
}

#messageArea .message:first-child {
    margin-top:0px;
}

p.date {
    padding:0px;
    text-align:right;
    font-size:12px;
}

img.basicImg {
    width:15px;
    height:15px;
    margin-left:5px;
    float:right;
}

img#logoImg {
    width:500px;
    height:100px;
    margin:0px auto;
}

#textArea {
    width:80%;
    font: normal 14px Times;
    resize: none;
    background-color:#F0FFFF;
}