div {
    width:500px;
    margin:0px auto;
    text-align:center;
}

#main {
    border:1px solid black;
    background-color:#CA9BFF;
    padding:5px;
}

h3 {
    color:#4C8AFF;
}

input {
    display:block;
    margin:20px auto;
}

#messageArea {
    width:70%;
}

p {
    margin:0px;
}

#numberOfMessages p {
    padding:10px;
    text-align:right;
}

#messageArea .message {
    background-color:#FFFF00;
    margin-top:5px;
    width:100%;
    padding:5px;
    padding-top:20px;
}

p.date {
    padding:0px;
    text-align:right;
    font-size:12px;
}

img {
    width:10px;
    height:10px;
    float:right;
}