html {
    background: url("../img/background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    margin: 0px 0px;
}

.imgBox {
    background-color:red;
    padding:10px;
    float:left;
    margin:10px;
}

.imgBox img {
    display:block;
    margin:auto;
}

#iconhub img {
    width:50px;
    height:50px;
    margin-left:5px;
}

.topbar img {
    width:10px;
    height:10px;
}

.gif {
    float:left;
}

p {
    color:red;
    margin:0px;
}

.unactive {
    display:none;
}

.topbar p {
    display:inline;
}

.content {
    background-color:yellow;
    overflow-y: auto;
}

.content img {
    display:block;
}

.topbar {
    background-color:white;
    width:100%;
    height:20px;
    border-bottom:1px solid red;
}

.footer {
    background-color:white;
    width:100%;
    height:20px;
}

.footer p {
    margin-left:5px;
    display:inline;
}

.appWindow {
    position:absolute;
    border:2px solid red;
}

#focus {
    z-index:1;
}

#iconhub {
    height:50px;
    padding:5px 0px 5px 0px;
    background-color:red;
    opacity:0.5;
    position:absolute;
    width:100%;
    bottom:0;
}

.cross {
    float:right;
    margin-top:5px;
    margin-right:5px;
}

.cross:hover {
    cursor:pointer;
}